.i{
    display: flex;
    height: 100vh;
    background-color: azure;
}

.i-left{
    flex: 1;
}

.i-right{
    flex: 1;
}

.i-left-wrapper{
    padding: 50px;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}   

.i-name{
    font-size: 60px;
}

.i-title{
    height: 50px;
    font-size: 30px;
    overflow: hidden;
}