.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid #999;
    /* border: 2px solid red; */
    border-radius: 10px;
    overflow: hidden;
}

.p-browser {
    height: 20px;
    background-color: #999;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}

.p-img{
    width: 100%;
    height: 100%;
    transition: transform .2s;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.p-title {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.p-desc {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.p-techs {
    color: white;
    font-size: 14px;
    position: absolute;
    font-weight: bold;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.g-icon {
    width: 50px;
    height: 50px;
    top: 70%;
    left: 52%;
    position: absolute;
}

.cl-icon {
    width: 50px;
    height: 50px;
    top: 70%;
    left: 38%;
    position: absolute;
}

.p-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.p-container:hover .overlay {
    opacity: 1;
}

#g-icon-hover:hover {
    opacity: 0.5;
}

#cl-icon-hover:hover
{
    opacity: 0.5;
}

/* .p-title-mobile,
.p-desc-mobile,
.p-techs-mobile,
.p-browser-bottom {
    display: none;
} */

.p-title-mobile,
.p-desc-mobile,
.p-techs-mobile,
.p-browser-mobile,
.p-links-mobile {
    display: none;
}

@media screen and (max-width:480px) {
    .p {
        width: 100%;
        height: 30vh;
        border: 2px solid #999;
    }

    .p-browser-mobile {
        /* height: 20px;
        object-fit: cover; */
        flex-direction: column; 
        width: 100%;
        height: 100%;
        display: flex; 
        align-items: center;
        position: sticky;
        z-index: 2;
    }

    .p-img-mobile {
        margin-top: none;
        padding-left: 1px;
        /* margin-left: none; */
        /* width: 100%; */
        /* height: 100%; */
        /* object-fit: 99%; */
        display: flex;
        /* flex-direction: column; */
    }

    /* .p-container {
        margin-top: none;
        position: relative;
        width: 100%;
        height: 100%;
    } */
    
    /* .container .overlay,
    #g-icon-hover,
    #cl-icon-hover {
        pointer-events: none; 
    } */

    /* a:hover {
        pointer-events: none;
    } */

    .p-browser,
    .p-circle,
    .p-container:hover {
        display: none;
    }

    .p-title-mobile {
        font-size: 12px;
        height: 20px;
        width: 100%;
        color: white;
        background-color: #999;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        position: sticky;
        z-index: 2;
    }

    /* height: 20px;
    background-color: #999;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2; */

    .p-desc-mobile {
        font-size: 10px;
        height: 100%;
        color: white;
        display: inline;
        display: flex;
        flex-direction: column;
        /* align-items: flex-start;
        align-content:flex-start; */
        position: sticky;
        z-index: 2;
        width: 100%;
        background-color: #999;
    }

    .p-links-mobile {
        font-size: 10px;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        position: sticky;
        z-index: 2;
        /* width: 100%; */
        padding-left: 25%;
        background-color: #999;
    }

    .p-container {
        display: none;
    }

    /* .p-browser-bottom {
        height: 50px;
        background-color: #999;
        display: flex;
        align-items: center;
        position: sticky;
        z-index: 2;
    } */

}